.alignleft {
    float: left;
    margin: 0 10px 10px 10px;
}

ul {
    list-style-position: inside;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    box-sizing: content-box;
    line-height: normal;
}

div.gsc-selected-option-container {
    width: 100px !important;
}

.navbar-brand span {
    opacity: 0;
}

.navbar-brand {
    background-image: url(/images/scorelogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

hr {
    clear: both;
}

figcaption {
    text-align: center;
}

img {
    width: auto !important;
}

p {
    letter-spacing: .1em;
    text-align: justify;
    line-height: 1.65;
    text-indent: 1.2em;
}

.thumbnail {
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 150px;
}

.thumbnail .footer a {

}

.card .card-footer time {
    display: block;
    float: right;
}
