
<div class="card mb-4">
  {{ if .Params.image }}
  <div class="card-img-top" style="background: url('{{ .Params.image }}') center / cover;"  ></div>
  {{ end }}
  <div class="card-body">
    <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <p>{{ .Summary }}...</p>
  </div>
  <div class="card-footer">
      <a href="{{ .Permalink }}" class="btn btn-primary" role="button">読む</a>
      <time datetime="{{ .Date.Format .Site.Params.DateForm }}">
	{{ .Date.Format .Site.Params.DateForm }}
      </time>
  </div>
</div>
