    <div style="width: 100%;">
        <div class="thumbnail">
            {{ if .Params.image }}
            <div class="image" style="background: url('{{ .Params.image }}') center / cover;"  ></div>
            {{ end }}
            <div class="caption">
                <h3>{{ .Title }}</h3>
                <p>{{ .Summary }}...</p>
                <div class="date">
                    <time datetime="{{ .Date.Format .Site.Params.DateForm }}">
                        {{ .Date.Format .Site.Params.DateForm }}
                    </time>
                </div>
                <p><a href="{{ .Permalink }}" class="btn btn-primary" role="button">読む</a></p>
            </div>
        </div>
    </div>
