<div class="thumbnail">
  {{ if .Params.image }}
  <div class="image" style="background: url('{{ .Params.image }}') center / cover;"  ></div>
  {{ end }}
  <div class="caption">
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <p>{{ .Summary }}...</p>
    <div class="footer">
      <a href="{{ .Permalink }}" class="btn btn-primary" role="button">読む</a>
      <time datetime="{{ .Date.Format .Site.Params.DateForm }}">
	{{ .Date.Format .Site.Params.DateForm }}
      </time>
    </div>
  </div>
</div>

