{{ define "main"}}

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <header class="card-header">
	<h1 class="post-title h2">
	  {{ if eq .Kind "taxonomy" }}
	  Tag : &quot;{{ .Title }}&quot;
	  {{ else if eq .Kind "section" }}
	  {{ partial "section_name.html" . }}
	  {{ end }}
	</h1>
      </header>
      <div class="posts card-body">
	{{ range .Paginator.Pages }}	    
	{{ .Render "li" }}
	{{ end }}
      </div>
      <footer class="card-footer">
	{{ partial "pagination.html" . }}
      </footer>
    </div>
  </div>
  <div class="col-md-4">
    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ end }}
