{{ partial "default_head.html" . }}
<div class="row">
    <div class="col-md-8">
        <article class="post">

            <header>
                <div class="post-date">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <time datetime="{{ .Date.Format .Site.Params.DateForm }}">
                        {{ .Date.Format .Site.Params.DateForm }}
                    </time>
                </div>
                <h1 class="post-title h2">
                    <a href="{{ .Permalink }}">{{ .Title }}{{ if .Params.ebook }}<img src="/images/ebook.png" alt="ebook" />{{ end }}</a>
                </h1>
            </header>

            <div class="post-content">
                {{ .Content }}
            </div>

            <aside>
                {{ $baseurl := .Site.BaseURL }}
                <ul class="list-inline post-tags">
                    {{ range .Params.tags }}
                    <li>
                        <a href="{{ $baseurl }}/tags/{{ . | urlize }}">
                            <i class="fa fa-tags"></i>
                            {{ . }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </aside>
            <!-- Pagination. -->
            <footer>

                <nav>
                    <ul class="pager">

                        {{ if .PrevInSection }}
                        <li class="previous"><a href="{{ .PrevInSection.Permalink }}"><span aria-hidden="true">&larr;</span> Older</a></li>
                        {{ else }}
                        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                        {{ end }}
			{{ if .Section }}
			<li><a href="/{{ .Section }}/">{{ partial  "section_name.html" . }}</a></li>
			{{ end }}
                        {{ if .NextInSection }}
                        <li class="next"><a href="{{ .NextInSection.Permalink }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
                        {{ else }}
                        <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                        {{ end }}

                    </ul>
                </nav>

                {{ if isset .Site.Params "Disqus" }}
                {{ if .Params.comments }}
                <!-- disqus. -->
                <div id="disqus_thread"></div>
                <script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = '{{ .Site.Params.Disqus }}'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {{ end }}
                {{ end }}
            </footer>

        </article>
    </div>
    <div class="col-md-4">
        {{ partial "sidebar.html" . }}
    </div>
</div>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{{ partial "default_foot.html" . }}
