<!DOCTYPE html>

{{ partial "head.html" . }}

<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-2">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}"><span>{{ .Site.Title }}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav">
                {{ range .Site.Menus.header  }}
                <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                 {{ end }}
            </ul>
            <ul class="navbar-nav navbar-right">
                {{ if .Site.Params.Facebook }}
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/{{ .Site.Params.Facebook }}" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        Facebook</a>
                </li>
                {{ end }}
                {{ if .Site.Params.Twitter }}
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/{{ .Site.Params.Twitter }}" target="_blank">
                        <i class="fa fa-twitter-square"></i>
                        Twitter</a>
                </li>
                {{ end }}
                {{ if .Site.Params.Github }}
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/{{ .Site.Params.Github }}" target="_blank">
                        <i class="fa fa-github-square"></i>
                        GitHub
                    </a>
                </li>
                {{ end }}
                {{ if .Site.Params.Linkedin }}
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/{{ .Site.Params.Linkedin }}" target="_blank">
                        <i class="fa fa-linkedin-square"></i>
                        LinkedIn
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
