<meta charset="utf-8">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ .Site.Params.Twitter }}" />
<meta property="og:type" content="blog">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ if eq .URL "/" }}
<!-- Index -->
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.Description }}">
{{ else if .IsNode }}
<!-- Category -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ partial "section_name.html" . }}">
<meta property="og:description" content="{{ .Site.Params.Description }}">
{{ else }}
<!-- Article -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }} &middot; {{ .Site.Title }}">
<meta property="og:image" content="{{ $.Param "image" }}">
<meta property="twitter:description" content="{{ .Summary }}">
{{ end }}
<title>
    {{ if eq .Kind "index" }}
    {{ .Site.Title }}
    {{ else if eq .Kind "taxonomy" }}
    Tag : &quot;{{ .Title }}&quot;
    {{ else if eq .Kind "section" }}
    {{ partial "section_name.html" . }}
    {{ else }}
    {{ .Title }}
    {{ end }}
</title>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/social-share-kit.css" type="text/css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/styles.css">

<!-- Icons -->
<link rel="shortcut icon" href="{{ .Site.BaseURL }}/assets/favicon.ico">

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.BaseURL }}/index.xml">
