{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<ul class="pagination">
    {{/*最初へ*/}}
    {{ with $pag.First }}
        <li class="page-item">
            <a class="page-link" href="{{ .URL }}" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
                <span class="visually-hidden">First</span>
            </a>
        </li>
    {{ end }}

    {{/*前ページ*/}}
    <li class="page-item{{ if not $pag.HasPrev }} disabled{{ end }}">
        <a class="page-link" href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="visually-hidden">Previous</span>
        </a>
    </li>

    {{/*番号*/}}
    {{ range .Paginator.Pagers }}
        <li class="page-item{{ if eq . $pag }} active{{ end }}">
            <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
        </li>
    {{ end }}

    {{/*次ページ*/}}
    <li class="page-item{{ if not $pag.HasNext }} disabled{{ end }}">
        <a class="page-link" href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="visually-hidden">Next</span>
        </a>
    </li>

    {{/*最後へ*/}}
    {{ with $pag.Last }}
        <li class="page-item">
            <a class="page-link" href="{{ .URL }}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
                <span class="visually-hidden">Last</span>
            </a>

        </li>
    {{ end }}
</ul>
{{ end }}