<script>
(function() {
	var cx = '003791151110832145504:blvtvct5zx4';
	var gcse = document.createElement('script');
	gcse.type = 'text/javascript';
	gcse.async = true;
	gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		'//cse.google.com/cse.js?cx=' + cx;
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(gcse, s);
})();
</script>

<aside>
	<div class="card">
		<gcse:search></gcse:search>
	</div>
    {{ if and .Site.Params.ShowRelatedPost .Params.tags .IsPage }}
	<div class="card mt-3">
		<div class="card-header">Related Posts</div>
		<div class="list-group">
					{{ $page_link := .Permalink }}
					{{ $tags := .Params.tags }}
					{{ range .Site.Pages }}
					{{ $page := . }}
					{{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
					{{ if and $has_common_tags (ne $page_link $page.Permalink) (lt ($.Scratch.Get "$c") 10) }}
					{{ $.Scratch.Add "$c" 1 }}
					<a class="list-group-item list-group-item-action" href="{{ $page.Permalink }}">{{ $page.Title }}</a>
					{{ end }}
					{{ end }}
		</div>
	</div>
    {{ end }}

	<div class="card mt-3">
		<div class="card-header">Sections</div>
		<div class="list-group">
		    {{ $currentNode := . }}
		    {{ range .Site.Menus.sections }}
		    <a class="{{if or ($currentNode.IsMenuCurrent "sections" .) ($currentNode.HasMenuCurrent "sections" .) }} active{{end}} list-group-item list-group-item-action" href="{{.URL}}">{{ .Name }}</a>
		    {{ end }}
		</div>
	</div>

	<div class="card mt-3">
		<div class="card-header">Recent Posts</div>
		<div class="list-group">
			{{range first 10 (where .Site.RegularPages "Type" "post") }}
			<a href="{{.RelPermalink}}" class="list-group-item list-group-item-action">{{ .Title }}</a>
			{{ end }}
		</div>
	</div>

</aside>
